body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e3f; /* Azul oscuro */
    color: #fff;
}

header {
    position: relative;
    background-color: #282847; /* Morado oscuro */
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
}

h1 {
    font-family: 'Pacifico', cursive; /* Fuente más decorativa */
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px; /* Espaciado entre letras */
}

button {
    background-color: #4c4c7f; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5d5d92; /* Cambia de color al pasar el mouse sobre el botón */
}

main {
    max-width: 800px;
    margin: 20px auto;
}

#apps-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.app-card {
    background-color: #363658; /* Morado más claro */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, background-color 0.3s; /* Agregado para suavizar la transición */
}

.app-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #1e1e3f; /* Texto en azul oscuro */
}

.app-description {
    color: #888;
}

#developed-by {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 0.8em;
}

/* Estilos adicionales para la ventana emergente de registro */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 63, 0.8); /* Azul oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#register-modal label {
    display: block;
    margin-top: 15px;
    color: #1e1e3f; /* Texto en azul oscuro */
}

#register-modal input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #5d5d92; /* Borde para resaltar el campo */
    border-radius: 5px;
    background-color: #f0f0f5; /* Fondo gris claro para resaltar el campo */
}

#register-modal .form-group {
    margin-bottom: 20px;
}

#register-modal button {
    background-color: #4c4c7f; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#register-modal button:hover {
    background-color: #5d5d92; /* Cambia de color al pasar el mouse sobre el botón */
}

#loading-bar {
    width: 100%;
    height: 5px;
    background-color: #5d5d92; /* Color de la barra de carga */
    margin-bottom: 15px;
}
